body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('pic1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}
h2 {
    text-align: center;
}
.container {
    max-width: 400px;
    padding: 70px;
    border-radius: 5px;
    background-color: #fff;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(91, 91, 205);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}
button:hover {
    background-color: #3b3bd5; /* Change background color on hover */
}
.message {
    color: red;
    margin-top: 10px;
}